{% extends 'base/base.html' %}

{% block body %}
<div class="container p-3">
    <div class="d-none mt-3 d-lg-block"></div>
    <form method=post enctype=multipart/form-data>
        <div class="row">
            <div class="col">
                <h1 style="margin-bottom:25px">
                    <strong><span style="color:tomato">FF</span><span style="color: #1E90FF">Fold</span></strong>
                </h1>
                <strong><span style="color:tomato">FF</span><span
                        style="color: #1E90FF">Fold</span></strong> is a web application for the physics-based force-fiels optimization of protein
                structures
                deposited in the <a href="https://academic.oup.com/nar/article/50/D1/D439/6430488" target="_blank"
                                    rel="noreferrer">AlphaFold DB</a> database.
                The structures are optimized by the <a
                    href="https://github.com/sb-ncbr/pro" target="_blank"
                    rel="noreferrer">PPRopt method</a>, which quality is comparable to protein structure optimization with
                constrained α-carbons. Before optimization of the structure, <strong><span
                    style="color:tomato">FF</span><span
                    style="color: #1E90FF">Fold</span></strong> protonates the input protein structure by <a
                    href="https://pubs.acs.org/doi/full/10.1021/ct100578z" target="_blank"
                    rel="noreferrer">PROPKA3</a> and removes structural errors by <a
                    href="https://github.com/openmm/pdbfixer" target="_blank"
                    rel="noreferrer">PDBFixer</a>.  The details about the methodology and usage are
                described in the <a href="https://github.com/sb-ncbr/FFFold/wiki" target="_blank"
                                    rel="noreferrer">manual</a>. This website is free and open to all users and there is
                no login
                requirement. Source codes are freely available at <a href="https://github.com/sb-ncbr/FFFold"
                                                                     target="_blank" rel="noreferrer">GitHub</a>.
            </div>
        </div>
        <hr>
        {% include 'base/flash.html' %}
        <br>
        <input type="hidden" name="ph" value='7.2'/>
        <input type="hidden" name="prediction_version" value='4'/>
        <div class="form-group col-sm-6 col-lg-3 pl-0">
            <label style="color:black" for="title"><strong>UniProt code:</strong></label>
            <input type="text" name="code" required="required" class="form-control" placeholder="e.g. P34712, L8BU87"
                   title="UniProt code is allowed only in its short form (e.g. A0A1P8BEE7, B7ZW16). Other notations (e.g. A0A159JYF7_9DIPT, Q8WZ42-F2) are not supported. &#013; &#013; An alternative option is AlpfaFold DB Identifier (e.g. AF-L8BU87-F1).">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" name="action" value="optimize structure">Optimize structure
            </button>
            <button type="submit" class="btn btn-secondary" name="action" value="settings">Setup calculation</button>
        </div>
    </form>

    <hr>
    {% include 'base/elixir.html' %}
    <hr>
    {% include 'base/footer.html' %}
</div>
{% endblock body %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
<script>
    const phs = [0, 1, 2, 3, 4, 5, 6, 7, 8];
    const range = document.getElementById('ph_range');
    const range_label = document.getElementById('ph_range_label');
    range.oninput = function () {
        range_label.innerHTML = `pH: ${phs[range.value]}`;
        const cat_images = document.getElementsByClassName('cat_image');
        for (let i = 0; i < cat_images.length; ++i) {
            cat_images[i].setAttribute('hidden', true);
        }
        const keep = document.getElementById(`cat${range.value}`);
        keep.removeAttribute('hidden');
    }
</script>
{% endblock scripts %}
