{% extends 'base/base.html' %}

{% block title %} FFFold – Job status {% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='molstar.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock styles %}

{% block body %}
<div class="container mt-3 p-3">
  <div class="row">
    <div class="col">
      <h1 style="margin-bottom:25px">
        <strong><span style="color: #0000CC">FF</span><span style="color: #1E90FF">Fold – Optimization
                        status</span></strong>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-0">
        <strong> UniProt code:</strong> <a class="text-primary" href="https://alphafold.ebi.ac.uk/entry/{{ code }}" target="_blank"
            rel="noreferrer"> <u>{{ code }}</u> </a>
    </div>
    <div class="col-12 mt-1">
        <strong> pH:</strong> {{ ph }}

    </div>


    <div class="col-12 mt-1"><br>
        {{ status }}
    </div>
    <div class="col-12 mt-1"><br>
        {{ percent_value }}
    </div>
      <div class="col-12 mt-1"><br>
        {{ percent_text }}
    </div>

</div>

    <br>
    <div class="spinner-border text-primary" role="status">
    </div>
    <br>

      <br>
      <hr>
<br>

      <div class="col text-right">
      <a href="{{ url_for('main_site') }}" class="btn btn-primary">Back to main page</a>
    </div>
    <br>

          <div class="col text-right">
          Save page url to access optimization results!
          </div>


</div>
{% endblock body %}

{% block scripts %}
<script type="text/javascript">
function reload() {
  document.location.reload();
}
setInterval(reload, 5000);
</script>
</div>
{% endblock scripts %}
